<a href="https://colab.research.google.com/github/kyoungyeon90/dondon/blob/master/%EA%B0%95%EA%B2%BD%EC%97%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#리스트

##리스트란?
리스트는 여러 값을 담을 수 있는 변수입니다.

###1.리스트 만들기
방법은 2가지

####방법1

In [0]:
# list1이라는 빈 리스트를 만들어 보겠습니다.
list1=[]

In [0]:
print(list1)

[]

In [0]:
#list2를 만들어보자. 1, '철수', True를 넣어서.

In [0]:
list2=[1,'철수',True]

In [0]:
print(list2)

[1, '철수', True]

####방법2

In [0]:
list3=list()

In [0]:
list4=list([1,'철수',True])

In [3]:
print(list4)

[1, '철수', True]